<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Edit Examination</title>
    {% load static %}
    <link rel="stylesheet" type="text/css" href="{% static 'patients/edit_add.css' %}">
    <script>
        async function classifyImage(event) {
            event.preventDefault();
            const formData = new FormData(document.getElementById('classifyForm'));

            try {
                const response = await fetch('http://localhost:5000/classify/', {
                    method: 'POST',
                    body: formData,
                });

                const jsonResponse = await response.json();

                if (!response.ok) {
                    throw new Error(`HTTP error! status: ${response.status}, message: ${JSON.stringify(jsonResponse)}`);
                }

                document.getElementById('result').innerHTML = `
                    <strong>Class:</strong> ${jsonResponse.class}
                    <button class="copy-button" onclick="copyToClipboard('${jsonResponse.class}')">Copy</button><br>
                    <strong>Confidence:</strong> ${jsonResponse.confidence}
                `;
                document.getElementById('result').style.display = 'block';
            } catch (error) {
                console.error('Error classifying image:', error);
                document.getElementById('result').innerText = 'Error classifying image: ' + error.message;
                document.getElementById('result').style.display = 'block';
            }
        }

        function copyToClipboard(text) {
            navigator.clipboard.writeText(text).then(() => {
                alert('Class copied to clipboard!');
            }).catch(err => {
                console.error('Could not copy text: ', err);
            });
        }
    </script>
</head>
<body>
    <div class="container">
        <h2>Edit Examination for {{ patient.first_name }} {{ patient.last_name }}</h2>

        <form method="post" enctype="multipart/form-data" id="editForm">
            {% csrf_token %}
            <label for="id_image">Image:</label>
            {% if form.image.value %}
                <img src="{{ form.image.value.url }}" alt="Examination Image" style="width: 100px;">
            {% else %}
                No image uploaded.
            {% endif %}
            {{ form.images }}

            <label for="id_description">Description:</label>
            {{ form.description }}

            <button type="submit">Update Examination</button>
        </form>

        <a href="{% url 'examination_list' patient.pk %}" class="back-button">Back to Examination List</a>

        <div class="classify-container">
            <h2>Classify Image</h2>
            <form id="classifyForm" onsubmit="classifyImage(event)">
                <label for="classify_image">Select Image for Classification:</label>
                <input type="file" name="file" accept="image/*" required>

                <button type="submit">Classify</button>
            </form>
            <h2>Response:</h2>
            <pre id="result"></pre>
        </div>
    </div>
</body>
</html>
